<html>

<body>

    <h2>Add Country </h2>

    
    <form action="/addCountry" method="POST">
        <label>Country Code:</label><br>
        <input type="text" name="code"><br>
        <label>Country Name:</label><br>
        <input type="text" name="name"><br><br>
        <label>Country Details:</label><br>
        <input type="text" name="details"><br><br>
        <input type="submit" value="Add">

    </form>

    <a href="/">Home</a>
    