<html>

<body>

    <h2>Add Head of State </h2>

    
    <form action="/addheadofstate" method="POST">
        <label>Country Code:</label><br>
        <input type="text" name="_id"><br>
        <label>Head of State:</label><br>
        <input type="text" name="headOfState"><br><br>
        
        <input type="submit" value="Add">

    </form>

    <a href="/">Home</a>