<html>

<body>

    <h2>All city Details</h2>

    
    <form action="/allDetails" method="GET">
        <label>City Code:</label>
        <input type="text" name="cty_code"><br><br>
        <label>Country Code:</label>
        <input type="text" name="co_code"><br><br>
        <label>City Name:</label>
        <input type="text" name="city_name"><br><br>
        <label>Population:</label>
        <input type="number" name="population"><br><br>
        <label>By the Sea:</label>
        <input type="text" name="isCoastal"><br><br>
        <label>Area:</label>
        <input type="number" name="areaKM"><br><br>

        <a href="/">Home</a>
        







    </form>